.App {
  text-align: center;
 
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #032a72;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quiz-box {
  background-color: #5283b0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: solid #ffbf00;
  -webkit-box-shadow: 10px 11px 21px 0px rgba(1,15,38,1);
-moz-box-shadow: 10px 11px 21px 0px rgba(1,15,38,1);
box-shadow: 10px 11px 21px 0px rgba(1,15,38,1);
}

.start-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #032a72;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 10px 11px 21px 0px rgba(1,15,38,1);
  -moz-box-shadow: 10px 11px 21px 0px rgba(1,15,38,1);
  box-shadow: 1px 2px 5px 0px rgba(1,15,38,1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
